---
import { ClientRouter } from "astro:transitions";

Astro.response.headers.set(
      "Cache-Control",
      // Cache for 7 days, swr for 8 days
      "max-age=604800, stale-while-revalidate=691200"
    );
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter />
	</head>

	<body>
		<div>
		  <a href="/app">THE HOME</a> | <a href="/the-about">THE ABOUT</a>
	  </div>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
